
html {
    height: 100%;
    width: 100%;
}
body{
    font-family: Verdana, "Segoe UI", "Open Sans", Arial, Helvetica, sans-serif !important;
    font-size:14px;
    line-height:1.7em;
    color: #333333 !important;/*#B5B1CF; #D1EEEE*/
    margin:0;
    padding:0;
    position:relative;
    background: #BADCD7 !important;/*#300B00;*/
}
img {
    border: medium none;
}
* {
    margin: 0;
    padding: 0;
}
.clr {
    clear: both;
    margin: 0;
    padding: 0;
}



#containter {
    background: none repeat scroll 0 0 #ADD8E6;
    height: auto !important;
    margin: 0 auto;
    max-width: 1300px;
    min-height: 100%;
    min-width: 850px;
}
#header {
    min-height: 150px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#header .logo {
    opacity: 0.3;
    padding-top: 1;
    float: right;
    margin: -91px -50px  0 0;
    width: 15%;
    height: 5%;
    font-size: 20px;
}

#header .inner{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 68px;

    line-height:1.7em;
}
#header .inner_header
{


    font-family: 'Lobster', cursive;
    font-size: 60px;

    line-height:1.7em;
}
#content{

}

a {
    color: #333333 !important;
    text-decoration: none !important;

}
#footer {
    max-width: 1300px;
    min-height: 100%;
    min-width: 850px;
    margin: 0 auto 0;
    border-top: 1px solid rgb(0, 0, 0);
    padding: 10px 0;
    position: relative;
    clear:both;
}
.img_main{
    opacity: 0.3;      filter: alpha(opacity=40);
    width: 100%;

}
.img_main2{
    opacity: 0.3;
    margin-right: -20px;
    float: right;
    width: 23%;
    height: 25%;

}
#admin_txt{

    font-size: 20px;


    margin-left: 10%;

}
#admin_txt  ul{
    margin-bottom:5px;
    list-style-type: circle;
    border-bottom: none;
}
#admin_txt li {
    color: #333333 !important;
    padding-bottom: 10px;

}
.alala{
    min-height: 4px;


}
#admin_txt_t{
    margin-top: -16px;
    font-size: 20px;
    margin-left: 45%;

}
#admin_txt_t  ul{

    margin-bottom:5px;
    list-style-type: circle;
    border-bottom: none;
}
#admin_txt_t li {
    padding-bottom: 10px;

}
.clssss{
    margin-left: 30px;
}
.cllaaaa{
    font-family: 'Lobster', cursive;
    font-size: 60px;

    line-height:1.7em;
    list-style-type: none;

}
a.button24 {
    font-size: 18px;
    font-weight: bold;
    margin: -90px -269px 0 0;
    float: right;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0.4em 0.8em;
    outline: none;
    border-width: 3px 0;
    border-style: outset;
    border-radius: 9px;


}
#registeruser{
    margin-left: 15px;
    height: 222px;
}
#registeruser .header{
    text-align: center;


}
#cbxuregister{
    padding-top: 20px;


    padding-bottom: 20px;
}
#cbxuregister .chk{
    margin: 0 140px 0 76px;
    float: left;


}
#cbxuregister .chkb{


}
.rgstrcntr{
    text-align: center;;
}
/*a.button24:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }*/
a.button24:active { text-decoration: none; }
a.buttonregistr {

    font-size: 18px;
    font-weight: bold;

    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.4em 0.8em;
    outline: none;
    border-top-style: solid;
    border-color: rgb(255, 255, 255);
    border-style: outset;
    border-radius: 9px;


}
a.buttonregistr:active { text-decoration: none; }
.kalapaarida{
    font-size: 30px;

}

#admin_addus{
    margin-left: auto;


    margin-right: auto;
    width: 75%;
}
#admin_addus .align{
    font-size: 22px;
    padding-bottom: 12px;


}
#admin_addus .right{
    width: 43%;
    float: right;

}
#admin_addus .center{
    text-align: center;

}
.addphoto{
    width: 4%;
    margin-left: 36%;

}
.addphotos{
    width: 4%;
    margin-left: 30%;

}

#addingrelative{
    padding-bottom: 20px;
    margin-left: -20px;

    margin-right: auto;


    height: 330px;
}
#addingrelative .header{
    text-align: center;


}
#addingrelative .adding{
    font-size: 22px;
    padding-bottom: 12px;


}
#addingrelative .align{
    font-size: 22px;
    padding-bottom: 12px;


}
#addingrelative .right{
    width: 43%;
    float: right;

}
#addingrelative .center{
    margin-top: 20px;

    text-align: center;

}
#addingartic{
    padding-bottom: 20px;
    margin-left: -20px;

    margin-right: auto;


    height: 150px;
}
#addingartic .header{
    text-align: center;


}
#addingartic .adding{
    font-size: 22px;
    padding-bottom: 12px;


}
#addingartic .align{
    font-size: 22px;
    padding-bottom: 12px;


}
#addingartic .right{
    width: 43%;
    float: right;

}
#addingartic .center{
    margin-top: 20px;

    text-align: center;

}